/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
		background-color: #ebebeb;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.box {
	position:absolute;
	margin: 10px;
	background-repeat:no-repeat;
	font-family: lucida sans unicode,lucida grande,sans-serif;
	border: #222 1px;
}

#blackbar {
	position:relative;
	height: 200px;
	width:100%;
	background-color:#222;
	bottom:-2500px;
	z-index:-1;
}

#mailsignup {
	position:relative;
	z-index: 30;
	left:30%;
	width:700px;
}

a#loginlink {
	color:white;
	text-decoration:none;
}  

#login span {
color:white;
}

#extloginpd {
	color:white;
	width:240px;
	margin:0px 5px;
	background-color:#222;
	position:absolute;
	right:250px;
	top:37px;
}

#extloginbox {
	width:200px;
	margin:0px 5px;
	background-color:#222;
	height:150px;
	position:absolute;
	right:350px;
	top:72px;
}

#logout {
	color:white;
	background-color:#222;
	position:absolute;
	right:250px;
	top:37px;
}

#logout a, #extloginpd a {
	color:white;
	background-color:#222;
}

#loginbox {
	position:absolute;
	top:0;
	right:0px;
	margin:0;
	z-index:20;
	background-color:#222;
	width:100%;
	height:74px;

}

#logo {
	background: #222 url(/img/logo_medium.png) top;
	background-repeat: no-repeat;
	width:457px;
	height:74px;
	position:absolute;
	top:0px;
	left:100px;
}

#logo #alpha {
position:relative;
	display:block;
					text-shadow: 0.1em 0.1em 0.05em #222;
top:-90px;
left:325px;
color:#94d219;
			font-weight:bold;
			font-size:30px;
	-webkit-transform: rotate(-35deg); 
	-moz-transform: rotate(-35deg);	
	transform: rotate(-35deg);	
}

a {
	color:#222;
	text-decoration:none;
}  

.boxmargin {
	margin: 10px;
}

.category {
	color:#2a6999;
	font-size:24px;
	line-height:29px;
	display:none;
}

.headline {
	margin-top: 40px;
}

#highlight {
	max-width: 660px;
	max-height:700px;
	background-color:white;
	right: 5%;
	top:240px;
	margin-top: 10px;
}

#help {
	position: relative;
	left: 770px;
	top:25px;
	background-color: #222;
	color:white;
	border: solid 1px #e3e2e2;
	width:282px;
	margin-right:5%;
	margin-top:5%;
}

#help div {
	width:80%;
	margin-left:10%;
}

#whatiswt365, #paypopup {
	border: solid 5px #e3e2e2;
	position: absolute;
	left:250px;
	top:100px;
	z-index:20;
}

#header, #profilename {
	text-align:center;
	top: 74px;
	left:90px;
	width: 1052px;
	height: 150px;
	background-size:1000px 70px;
	z-index:1;
}

#profilename .boxmargin {
    font-size: 2em;
    margin: 0.67em 0;
}

.site {
	position:relative;
	height:0px;
}

.information {
	position:relative;
	top: -50px;
left: -60px;
	float: right;
}

.information div {
	text-align: left;
}

.information div a {
	color: blue;
	text-decoration:underline;
}

#profile {
	position:relative;
	top:210px;
	left:860px;
	width: 282px;
	height: auto;
	background-size:230px 400px;
}

#profile #becomefan {
	clear:both;
	background-color:#94d219;
	width:262px;
	height:59px;
	text-align:center;
	margin:10px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	behavior:url(/css/border-radius.htc);
	border-radius: 5px 5px 5px 5px;
}

#profile #becomefan:hover {
	background-color:#94cd3e;
}

#profile #social {
	clear:both;
	width:262px;
	height:59px;
	text-align:center;
	vertical-align:top;
	margin:10px;
}

#submit {
	margin-left:270px;
	margin-top:20px;
}

#profile #becomefan a {
	position:absolute;
	margin-top:7px;
	width:242px;
	left:23px;
}

#profile img {
	float:left;
	margin:40px 10px 10px 10px;
}

#whoami {
	position:relative;
	top:190px;
	left:960px;
	width: 282px;
	height: auto;
	background-size:230px 400px;
	z-index:1;
}

#whatdoiwant {
	position:relative;
	top:190px;
	left:960px;
	width: 282px;
	height: auto;
	background-size:230px 400px;
	z-index:1;
}

#pincentives {
	position:relative;
	top:210px;
	left:860px;
	width: 282px;
	height: auto;
	background-size:230px 400px;
	z-index:-1;
}

.pledge {
	background:#222;
	height:80px;
	width:600px;
	font-size:148%;
}
.pledge span, .pledge label {
	font-weight:bold;
	color:#94d219;
	margin-top:25px;
}
.pledge input {
	margin-top:25px;
	font-weight:bold;
	text-align:center;
}

.incentivedesc {
	position:relative;
	left:35px;
}

#indentform {
}

#whatdoido {
	position:relative;
	top:-5px;
	left:0px;
	width: 365px;
	height: auto;
	min-height: 400px;
	background-size:750px 1000px;
	z-index:2;
}

#whydoidothis {
	position:relative;
	top:-445px;
	left:385px;
	width: 365px;
	height: auto;
	min-height: 400px;
	background-size:230px 400px;
	z-index:2;
}

#mywork, #fullwidth {
	position:relative;
	width: 750px;
	min-height:300px;
}

#boxy {
	position:absolute;
	top: 210px;
	left:90px;
}

#explain {
	font-size:small;
	background-color:#222;
	z-index:10;
	color:#fffdfd;
	width:1052px;
	height:100px;
	position:absolute;
	top: 310px;
	left:90px;
	margin:10px;
}

#explain span {
	position:relative;
	left:10px;
	top:1px;
width:700px;
	vertical-align:middle;
}

.makepayment {
	margin:10px;
	margin-left:10%;
	margin-right:33%;
}

.nav a {
	margin: 20px;
}

.work {
}
#mywork center {
	border: solid 1px #e3e2e2;
	margin:10px;
}

.rounded-corners {
	background-color:white;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-khtml-border-radius: 0px 0px 0px 0px;
	behavior:url(/css/border-radius.htc);
	border-radius: 0px 0px 0px 0px;
}

#upload {
	position: absolute;
	display: none;
	top: 190px;
	left:400px;
	z-index: 10;
}

#errormsg {
	color: red;
	font-weight:bold;
}

/* COUNT */
#profilename .edit {
	background: url(/img/wt365-count.png) 42px 0;
	background-repeat:repeat-x;
	width:22px;
	height:40px;
}

#mywork .upload {
	background: url(/img/wt365-count.png) 1px 0;
	background-repeat:repeat-x;
	width:22px;
	width:22px;
	height:40px;
	margin-left: 40px;
	position: relative;
	right: 30px;
}

.lightbox {
	background-color:#ebebeb;
	height:340px;
	width:600px;
}

#paytext, #paysuc {
	text-align:center;
	font-size: large;
	margin-top: 20px;
}

.loadHelp {
	cursor:pointer;
	position:relative;
	top:0px;
	left:600px;
	color:#fff;
	font-size:9pt;
	line-height:4pt;
}

#pincentives .addinc {
	background: url(/img/wt365-count.png) 84px 0;
	background-repeat:repeat-x;
	width:22px;
	width:22px;
	height:40px;
}

#profile .edit {
	background: url(/img/wt365-count.png) 63px 0;
	background-repeat:repeat-x;
	width:22px;
	width:22px;
	height:40px;
}

label {
	display:block;
	margin-left:10px;
}
input, select {
	display:block;
	margin-left:10px;
}


.price, .title, .desc {
	margin:10px;
	font-size:medium;
	display:block;
}

.price {
	font-size:large;
	font-weight:bold;
}

.title {
	font-size:large;
}

.incentive {
	border-top-color:#222;
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-color:gray;
	border-bottom-style:solid;
	border-bottom-width:thin;
}

.incentive:hover {
	background-color:#ADD8E6;
}

/* PAPER DRAGON */

.overview {
	border: solid 1px #e3e2e2;
	width: 330px;
	margin-left:11px;
	margin-top:16px;
	position:relative;
	display:inline-block;
}

.artexample {
	margin:10px;
	min-height: 150px;
	width:100%;
}

.artexample a img {
	max-width:93%;
}

.makername {
	position:relative;
	font-size:9pt;
	display:inline;
	margin:10px;
	margin-left:20px;
	width:150px;
	bottom:5px;
}

.fanbutton {
	position:relative;
	display:inline;
	margin:10px;
	font-size:9pt;
	width:20%;
	left:17%;
	bottom:5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	behavior:url(/css/border-radius.htc);
	border-radius: 5px 5px 5px 5px;
	background-color:#94d219;
}

.fanbutton:hover {
	background-color:#94cd3e;
}



.fanbutton a {
	color:#fffdfd;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
	body {
width: 1500px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
	body {
width: 1500px;
	}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


